src/a.exe
.gradle
gradle
gradlew
gradlew.bat
build
.idea
*.iml
node_modules
.RData
.Rhistory
package-lock.json
src/go/bin
src/go/gowiki/*.txt
bindata.go
bundle.js
tmp
.sass-cache
__pycache__
*.pyc
.vscode