* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

div ul {
    display: block;
}

ul {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}