<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="Your_WebApp_ID"
    version="2.5">
	<display-name>bookWeb</display-name>
	<servlet>
		<servlet-name>BookServlet</servlet-name>
		<servlet-class>com.apress.bookweb.controller.BookController</servlet-class>
		<init-param>
			<param-name>base</param-name>
			<param-value>/bookWeb/books</param-value>
		</init-param>
		<init-param>
			<param-name>imageURL</param-name>
			<param-value>/bookWeb/images</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<context-param>
		<param-name>param1</param-name>
		<param-value>/bookWeb/books</param-value>
	</context-param>
	<context-param>
		<param-name>imageURL</param-name>
		<param-value>/bookWeb/images</param-value>
	</context-param>
	<servlet-mapping>
		<servlet-name>BookServlet</servlet-name>
		<url-pattern>/books </url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>